/* reuseable styles */
:root {
    --light-shade: #c1c1c1;
    --light-accent: #c96567;
    --main-color: #9e5a63;
    --dark-accent: #644e5b;
    --dark-shade: #314455;
}
.h100 {
    height: 100vh;
}
.bg-dark-shade {
    background: var(--dark-shade);
}
.bg-dark-accent {
    background: var(--dark-accent);
}
.bg-main-color {
    background: var(--main-color);
}
.bg-main-color-opac {
    background: #9e5a63c4;
}
.bg-light-accent {
    background: var(--light-accent);
}
.bg-light-shade {
    background: var(--light-shade);
}
.text-light-shade {
    color: var(--light-shade);
}
.h-inherit {
    height: inherit;
}
.text-dark-shade {
    color: var(--dark-shade);
}
.text-main {
    color: var(--main-color);
}
.text-vis {
    color: whitesmoke;
    text-shadow: 0 0 5px black;
}


/* unique to elements */
body {
    overflow-x: hidden!important;
    background: var(--light)
}
    /* HEADER */
.bg-create {
    background-image: url('./images/create.jpg');
    background-position: center;
    background-size: cover;
}
.side-nav-btn {
    position: fixed;
    left: .5vw;
    top: 1vh;
    z-index: 1000001;
}
.side-nav {
    position: fixed;
    z-index: 1000000;
    padding-top: 20vh;
}
a {
    color: var(--light-shade);
}
a:hover {
    text-decoration: none;
    color: var(--dark-shade);
}
.i-am-border {
    border-left: 3px solid var(--main-color);
}
.fast-font {
    font-family: 'Nothing You Could Do', cursive;
}
.connect-card {
    position: relative;
    height: 20vh;
    perspective: 1000px;
}
.connect-card-inner {
    background: var(--main-color);
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform .6s;
    transform-style: preserve-3d;
    box-shadow: 2px 2px 5px var(--dark-shade);
    border-radius: 5%;
}
.connect-card:hover .connect-card-inner  {
    transform: rotateX(180deg);
    box-shadow: 2px -1px 5px var(--dark-shade);
}
.connect-card-front, .connect-card-back {
    background-color: var(--main-color);
    position: absolute;
    backface-visibility: hidden;
}
.connect-card-back {
    transform: rotateX(180deg);
    transition: transform 0.9s;
    transform-style: preserve-3d;   
}
    /* ABOUT */
.slant-about-prior {
    position: relative;
    height: 30vh;
}
.slant-about-prior::after {
    content: "";
    position: absolute;
    bottom: 0;
	border-style: solid;
	border-color: transparent;
	border-width: 10vh 50vw;
	border-bottom-color: var(--light-shade);
	border-left-color: var(--light-shade);
}
.about-row {
    background: var(--light-shade);
}
.title-flare {  
    border-left: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    padding-left: .5vw;
    box-shadow: -1px 1px 5px black;
}
.about-card {
    box-shadow: 0 2px 5px black;
    border-radius: 5%;
    background: var(--main-color);
    color: white;
}
.experience h4 {
    border-right: 1px solid var(--light);
    padding-right: .5vw;
    color: var(--light);
}
.portrait img {
    border-radius: 50%;
    box-shadow: 0 1px 5px black;
    height: 300px;
    width: 290px;
}
.personal h4 {
    border-left: 1px solid var(--light);
    padding-left: .5vw;
    color: var(--light);
}
    /* PROJECTS */
.slant-projects-prior {
    position: relative;
    height: 30vh;
    background: var(--light-shade);
}
.slant-projects-prior::after {
    content: "";
    position: absolute;
    bottom: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 10vh 50vw;
    border-left-color: var(--light);
    border-bottom-color: var(--light);
}
.projects-container {
    box-shadow: 0 2px 5px black;
    padding: 2vw 1.5vw;
}
.card-outter {
    background: transparent!important;
    box-shadow: none!important;
    border: none!important;
}
.card {
    position: relative;
    background: var(--light);
    box-shadow: 0 2px 5px black;
}
.card:hover .project-img {
    filter: blur(1px);
}
.project-img {
    width: 90%!important;
    position: absolute;
    top: -15px;
    border-radius: 5%;
    left: 5%;
    box-shadow: 0 2px 5px 1px black;
}
.project-links {
    display: none;
    position: absolute;
    z-index: 100;
    top: 20%;
    left: 23%;
}
.card:hover .project-links {
    display: block;
}
.project-body {
    margin-top: 30vh;
}
.project-desc {
    /* margin-left: 1%; */
    padding-left: 2%;
    border-left: 1px solid var(--main-color)
}
@media (hover: none) {
    .card:hover .project-img {
        filter: blur(0);
    }
    .projects-container {
        padding: 5vw 2vw;
    }
    .project-body {
        margin-top: 20vh;
    }
    .project-links {
        bottom: 0;
        left: 5%;
        display: block;
        font-size: 60%;
    }
}
.no-blur {
    filter: blur(0)!important;
}
    /* skills */
.skill-img-caro {
    height: 300px;
    width: 300px;
}
.skill-img-grid {
    height: 130px;
    width: 130px;
}
@media (max-width: 400px) {
    .skill-img-caro {
        height: 225px;
        width: 225px;
    }
}
    /* contact */
.contact-card {
    background: var(--dark);
    box-shadow: 0 2px 5px black;
}
input, textarea {
    background: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid var(--dark-accent);
}
input::placeholder, textarea::placeholder {
    color: white;
}
input:focus, textarea:focus {
    border: none;
    outline: none;
    border-bottom: 3px solid var(--main-color);
}
.bottom {
    background: var(--main-color);
    position: relative;
    height: 20vh;
    z-index: -100;
}
.bottom::before {
    content: "";
    position: absolute;
    top: -100%;
    width: 100vw;
    border: 10vh solid var(--main-color);
    z-index: -100;
}









/* thanks transformicons.com! */
.tcon {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 40px;
    background: transparent;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent; }
    .tcon > * {
      display: block; }
    .tcon:hover, .tcon:focus {
      outline: none; }
    .tcon::-moz-focus-inner {
      border: 0; }
  
  .tcon-menu__lines {
    display: inline-block;
    height: 5.71429px;
    width: 40px;
    border-radius: 2.85714px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background: white;
    position: relative; }
    .tcon-menu__lines::before, .tcon-menu__lines::after {
      display: inline-block;
      height: 5.71429px;
      width: 40px;
      border-radius: 2.85714px;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      background: white;
      content: '';
      position: absolute;
      left: 0;
      -webkit-transform-origin: 2.85714px center;
      transform-origin: 2.85714px center;
      width: 100%; }
    .tcon-menu__lines::before {
      top: 10px; }
    .tcon-menu__lines::after {
      top: -10px; }
    .tcon-transform .tcon-menu__lines {
      -webkit-transform: scale3d(0.8, 0.8, 0.8);
      transform: scale3d(0.8, 0.8, 0.8); }
  
  .tcon-menu--xbutterfly {
    width: auto; }
    .tcon-menu--xbutterfly .tcon-menu__lines::before, .tcon-menu--xbutterfly .tcon-menu__lines::after {
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      -webkit-transition: top .3s .6s ease, -webkit-transform .3s ease;
      transition: top .3s .6s ease, -webkit-transform .3s ease;
      transition: top .3s .6s ease, transform .3s ease;
      transition: top .3s .6s ease, transform .3s ease, -webkit-transform .3s ease; }
    .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines {
      background: transparent; }
      .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::before, .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::after {
        top: 0;
        -webkit-transition: top .3s ease, -webkit-transform .3s .5s ease;
        transition: top .3s ease, -webkit-transform .3s .5s ease;
        transition: top .3s ease, transform .3s .5s ease;
        transition: top .3s ease, transform .3s .5s ease, -webkit-transform .3s .5s ease;
        width: 40px; }
      .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::before {
        -webkit-transform: rotate3d(0, 0, 1, 45deg);
        transform: rotate3d(0, 0, 1, 45deg); }
      .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::after {
        -webkit-transform: rotate3d(0, 0, 1, -45deg);
        transform: rotate3d(0, 0, 1, -45deg); }
  
  .tcon-visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }
    .tcon-visuallyhidden:active, .tcon-visuallyhidden:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto; }

      .tcon-grid {
        padding: 1rem; }
        .tcon-grid .tcon-grid__item {
          width: 0.5rem;
          height: 0.5rem;
          background: black;
          color: black;
          -webkit-transition: 0.3s;
          transition: 0.3s; }
      
      .tcon-grid.tcon-transform .tcon-grid__item {
        -webkit-transform: rotate3d(0, 0, 1, -45deg) scale3d(0.8, 0.8, 0.8);
        transform: rotate3d(0, 0, 1, -45deg) scale3d(0.8, 0.8, 0.8); }
      
      .tcon-grid--rearrange .tcon-grid__item {
        -webkit-box-shadow: -0.625rem -0.625rem, 0 -0.625rem, 0.625rem -0.625rem, -0.625rem 0, 0.625rem 0, -0.625rem 0.625rem, 0 0.625rem, 0.625rem 0.625rem;
        box-shadow: -0.625rem -0.625rem, 0 -0.625rem, 0.625rem -0.625rem, -0.625rem 0, 0.625rem 0, -0.625rem 0.625rem, 0 0.625rem, 0.625rem 0.625rem; }
      
      .tcon-grid--rearrange.tcon-transform .tcon-grid__item {
        -webkit-box-shadow: 0 -0.5rem, 0 -1rem, 0.5rem 0, -1rem 0, 1rem 0, -0.5rem 0, 0 1rem, 0 0.5rem;
        box-shadow: 0 -0.5rem, 0 -1rem, 0.5rem 0, -1rem 0, 1rem 0, -0.5rem 0, 0 1rem, 0 0.5rem; }
      
      .tcon-visuallyhidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px; }
        .tcon-visuallyhidden:active, .tcon-visuallyhidden:focus {
          clip: auto;
          height: auto;
          margin: 0;
          overflow: visible;
          position: static;
          width: auto; }